@keyframes countDownFrom {
  0% {
    content: "10";
  }
  10% {
    content: "9";
  }
  20% {
    content: "8";
  }
  30% {
    content: "7";
  }
  40% {
    content: "6";
  }
  50% {
    content: "5";
  }
  60% {
    content: "4";
  }
  70% {
    content: "3";
  }
  80% {
    content: "2";
  }
  90% {
    content: "1";
  }
  100% {
    content: "0";
  }
}
@keyframes expand {
  0% {
    margin: 10px;
    width: 130px;
    height: 130px;
    line-height: 130px;
  }
  100% {
    margin: 0;
    width: 150px;
    height: 150px;
    line-height: 150px;
  }
}
@keyframes rotateHalf {
  0% {
    opacity: 1;
    transform: rotate(0) scale(2);
  }
  100% {
    opacity: 1;
    transform: rotate(-180deg) scale(2);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
.wrapper {
  position: absolute;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin: auto;
  background-color: #43b244;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-down {
  position: relative;
  flex: none;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.count-down:hover {
  animation: bounce .2s ease-out forwards;
}

.count-down:hover .outer-circle::after {
  display: block;
}

/*.count-down:hover *::after,
.count-down:hover * {
  animation-play-state: paused !important;
}*/

.outer-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.outer-circle::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  box-shadow: 3px 3px 0 #00307c;
}
.outer-circle .rotation-holder {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.outer-circle .rotation-holder .circle-part {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 100%;
}
.outer-circle .rotation-holder .circle-part.left-clip, .outer-circle .rotation-holder .circle-part.right-clip {
  background-color: #fff;
}
.outer-circle .rotation-holder .circle-part.left-clip {
  left: 0;
  border-top-left-radius: 448px;
  border-bottom-left-radius: 448px;
}
.outer-circle .rotation-holder .circle-part.right-clip {
  right: 0;
  border-top-right-radius: 448px;
  border-bottom-right-radius: 448px;
}
.outer-circle .rotation-holder .circle-part.left-cover, .outer-circle .rotation-holder .circle-part.right-cover {
  background-color: #43b244;
  opacity: 0;
}
.outer-circle .rotation-holder .circle-part.left-cover {
  left: 0;
  transform-origin: 100% 50%;
  animation: rotateHalf 10s 10s linear forwards;
}
.outer-circle .rotation-holder .circle-part.right-cover {
  right: 0;
  transform-origin: 0 50%;
  animation: rotateHalf 10s linear forwards;
}

.inner-circle {
  position: absolute;
  width: 130px;
  height: 130px;
  margin: 10px;
  color: #fff;
  background-color: #43b244;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  line-height: 130px;
  animation: expand 0.6s 19.4s linear forwards;
}
.inner-circle .digit {
  font-size: 48px;
}
.inner-circle .digit::after {
  animation: countDownFrom 20s linear forwards;
  display: block;
  content: "10";
}
