@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 10px;
  background-color: whitesmoke;
}

body {
  /*height: 00%;*/
  background-color: #1f2740;
  text-align: center;
  margin: 0px auto;
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
}
.parent{
  width: 100%;
  height:100%;
}
svg {
  /*margin: 20px 20px 10px;*/
  width: 150px;
}

a {
  color: #f8f3dc;
  font-family: monospace;
}

.first{
  height: 10%;
}

#approved {
  clip-path: circle(at center);
  border: 4px solid #f8f3dc;
  border-radius: 50%;
  animation: rocketShake .1s linear alternate infinite;
}
#approved .st0 {
  fill: #13192d;
}
#approved .st1, #approved .st3 {
  fill: #f8f3dc;
}
#approved .st3 {
  stroke: #13192d;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
#approved .st4 {
  fill: #69b3b2;
}
#approved .rocket {
  animation: rocketMove 5s linear alternate infinite;
}
#approved .st1 {
  transform: translateY(-100%);
  animation: starsMove 6s infinite;
}
#approved .st1:nth-of-type(5) {
  animation-delay: 3.5s;
  animation-duration: 8s;
}
#approved .st1:nth-of-type(4) {
  animation-delay: 2s;
  animation-duration: 3s;
}
#approved .st1:nth-of-type(3) {
  animation-delay: .2s;
  animation-duration: 6s;
}
#approved .st1:nth-of-type(2) {
  animation-delay: 4s;
}
#approved .st4 {
  transform: scale(0);
  opacity: 0;
  animation: smoke 2s 1s infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#approved .st4:nth-child(9) {
  animation-delay: .8s;
  animation-duration: 1.5s;
}

@keyframes starsMove {
  to {
    transform: translateY(100%);
  }
}
@keyframes smoke {
  30% {
    transform: scale(2);
    opacity: 1;
  }
  31% {
    opacity: 0.5;
  }
}
@keyframes rocketShake {
  from {
    transform: rotate(-0.5deg);
  }
  to {
    transform: rotate(0.5deg);
  }
}
@keyframes rocketMove {
  50% {
    transform: translateY(-15%);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2%);
  }
}
.container {
  width: 1145px;
  max-width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.search-list {
  /*margin: 12px 0;*/
}
.search-list__search-bar {
  margin-bottom: 12px;
}
.search-list__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  padding: 3px 6px;
  transition: border-color .2s linear;
  background-color: transparent;
  font-size: 3rem;
  color:white;
}
.search-list__input:focus {
  border-color: dodgerblue;
  outline: none;
}
.search-list__items {
  display: flex;
  flex-wrap: wrap;
}
.search-list__item {
  margin-right: 12px;
  margin-bottom: 12px;
}

.item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(135deg, #fff 0%, #fff 50%, rgba(0, 200, 200, 0.4) 50.5%, rgba(0, 200, 200, 0.6) 100%);
  background-color: white;
  border-radius: 3px;
  max-width: 100%;
  width: 350px;
}
.item__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.item__pic {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 7.5rem;
  min-height: 7.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*border-radius: 100%;*/
  margin-left: 0px;
  /*border: 2px solid white;*/
}
.item__title-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 250px;
  text-align: left;
  padding-left: 10px;
}
.item__name {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.item__title {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.item__details {
  justify-content: space-between;
  padding: 12px;
}
.item__icon {
  margin-right: 1rem;
}
.item__title-container p {
  text-align: right;
}
.item__title-container a {
  color: blue;
  font-size: 13px;
}
